@tailwind base;
@tailwind components;
@tailwind utilities;

#root{
    max-width: none;
}

.dark {
  --background: 222.2 84% 4.9%;
  --foreground: 210 40% 98%;
  /* other dark mode variables */
}

.light {
  --background: 0 0% 100%;
  --foreground: 222.2 84% 4.9%;
  /* other light mode variables */
}